{%extends 'base.html'%}
{%block content%}
<div class="container" style="font-family: 'Sarabun',;">
     <hr>
    <div class="row">
        <div class="col-10">
            <div class="row">
                {%for post in posts%}
                <div class=" col-md-8 mx-auto" style="border: light 2px; color: black">
                    <div class="card m-1">
                        <img src="{{post.image.url}}" class="img-fluid" height="35px">
                        <a href="{%url 'comment' post.id %}" class="pl-3">
                           <p>{{post.comments.Count}}</p>
                            See comments
                    
                        </a>
                        <div class="row pl-4">
                            <button type="button">Like</button>
                            <a href="" ></i>
                            <button type="button">Comment</button><a href="{% url 'comment' post.id %}"></a></button>
                            <!-- <p>likes: {{total_likes}}</p> -->
                        </div>
                        
                        <p><strong class="text-secondary pl-3" >{{post.profile}}</strong> {{post.imageCaption}}</p>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                {%endfor%}
            </div>

        </div>

        
    </div>

    {%endblock content%}