{% extends 'base.html' %}
{%block content%}
<div class="row"></div>
    <h3>Users</h3>
        <a>
                {%for prof in profile%} 
                <div class="col-sm"> 
                <img src="{{prof.user.profile.profilephoto.url}}" alt=""
                        class="rounded-circle border " height="50px" width="50px">
                        <a href="{%url "prof" %}" class="h3">{{prof.user}}</a>
                {%endfor%}
            </div>
        </a>
</div>
<div class="col-sm-6 margin-left " style="font-family: 'Jost', sans-serif;">
    <div class=" content-section container" style="padding-top: 100px;">
    <div class="media">
        <div class="col-sm-4">
            <div style="width: 100px; height:150px; overflow:hidden; border-radius:50%" class="img-wrapper">
                <img width="100%" height="100%" src="{{user.profile.profilephoto.url }}" alt="profile">
            </div>
        </div>
        <div class="media-body">
            <h2 class="account-heading">@{{user.username}}</h2>
            <p>{{user.profile.Bio}}</p>
            <div class="row">
                <div class="col-sm">
                    <p>Posts</p>
                    <p>0</p>
                </div>
                <div class="col-sm">
                    <p>Followers</p>
                    <p>7</p>
                </div>
                <div class="col-sm">
                    <p>Following</p>
                    <p>8</p>
                </div>

            </div>
            <hr>

            <a href="{%url 'update_profile'%}">
                <button class="btn btn-primary">Change Profile</button>
            </a>

        </div>
    </div>
</div>
</div>

</div>
{%endblock content%}